.middleMain {
    width: 100%;
    height: auto;
    /* background-color: gray; */
    /* border: 1px solid black; */
    box-sizing: border-box;
    /* padding: 2rem; */
    

}

.middleMain > h4 {
    width: 70%;
    margin: auto;
    font-size: 1.2rem;
    /* letter-spacing: 0.7px; */
    /* margin-right: 1rem; */
    font-weight: 500;
    color: #888888;
}

.introDiv {
    width: 70%;
    margin:auto;
    /* border: 1px solid black; */
    margin-top: 2rem;
}

.introDiv > h2 {
    font-size: 2.2rem;
    font-weight: 500;
    /* letter-spacing: 1px; */
    color: #676767;
}

.introDiv > h3 {
    font-size: 1.5rem;
    font-weight: 500;
    /* letter-spacing: 0.7px; */
    color: #888888;
}



.petDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1.5rem;
    /* border: 1px solid black; */
}

.petDiv > h4 {
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-right: 1rem;
    font-weight: 500;
    color: #999999;
}

.petDiv > img {
    width: 30%;

}

.joinBtnDiv {
    width: 100%;
    margin: 5rem 0;
    /* border: 1px solid black; */
    
}

.joinBtnDiv > button {
    width: 30%;
    height: 7rem;
    box-sizing: border-box;
    padding: 0.5rem;
    background-color: red;
    color: white;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

.joinBtnDiv > button > h2 {
    font-size: 2.5rem;
    margin: 0;
}

.joinBtnDiv > button > h4 {
    font-size: 1rem;
    margin: 0;
}

.featuredDiv {
    width: 100%;

}

.featuredDiv > h3 {
    font-size: 1.9rem;
    font-weight: 500;
    letter-spacing: 0.7px;
    margin: 0;
}